section {
    background-color: black;
    color: white;
    border-radius: 22px;
    padding: 20px;
}

button {
    background-color: black;
    color: white;
    border: 2px solid white;
}

button:hover {
    background-color: white;
    color: black;
}